<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">
      <font style="vertical-align: inherit"
        ><font style="vertical-align: inherit">Heading</font></font
      >
    </h2>
    <p>
      <font style="vertical-align: inherit"
        ><font style="vertical-align: inherit">
          The pain itself is important to the main adipisicing elite. </font
        ><font style="vertical-align: inherit">Nothing, hard work. </font></font
      >
    </p>
  </header>
</section>
<div id="goog-gt-tt" class="skiptranslate" dir="ltr">
  <div style="padding: 8px">
    <div>
      <div class="logo">
        <img
          src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png"
          width="20"
          height="20"
          alt="Google Translate"
        />
      </div>
    </div>
  </div>
  <div class="top" style="padding: 8px; float: left; width: 100%">
    <h1 class="title gray">Original text</h1>
  </div>
  <div class="middle" style="padding: 8px">
    <div class="original-text"></div>
  </div>
  <div class="bottom" style="padding: 8px">
    <div class="activity-links">
      <span class="activity-link">Contribute a better translation</span
      ><span class="activity-link"></span>
    </div>
    <div class="started-activity-container">
      <hr
        style="color: #ccc; background-color: #ccc; height: 1px; border: none"
      />
      <div class="activity-root"></div>
    </div>
  </div>
  <div class="status-message" style="display: none"></div>
</div>
<div class="goog-te-spinner-pos">
  <div class="goog-te-spinner-animation">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="goog-te-spinner"
      width="96px"
      height="96px"
      viewBox="0 0 66 66"
    >
      <circle
        class="goog-te-spinner-path"
        fill="none"
        stroke-width="6"
        stroke-linecap="round"
        cx="33"
        cy="33"
        r="30"
      ></circle>
    </svg>
  </div>
</div>
