<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started?</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum iste ex,
        sunt mollitia soluta debitis, blanditiis numquam id at possimus ab
        voluptatum recusandae earum eum corrupti velit eaque quod quisquam.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
