<div class="media">
  <div class="media__image">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odio
      laudantium sint magnam neque quo ipsam eaque perferendis laborum
      repellendus quae ab aspernatur, at rerum dicta, ad distinctio, non qui.
    </p>
  </div>
</div>
